/vendor
/node_modules
/public/storage
/storage/*.key
.env

*.idea
*.vscode

composer.lock
package-lock.json
yarn.lock

npm-debug.log*
yarn-debug.log*
yarn-error.log*

Homestead.yaml
Homestead.json
.env.backup
.env.local
.env.testing

.phpunit.result.cache
/.env.*
/storage/framework/cache/data